<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Exception Handler</h1>
    <hr>
    <h3>@ExceptionHandler 어노테이션 활용!</h3>
    <button onclick="location.href='nullpointer'">NullPointer 발생 시 예외처리기!</button>
    <button onclick="location.href='userexception'">사용자 정의의 예외 발생 시 예외처리기!</button>
    <hr>
    <h3>@ControllerAdvice 어노테이션 활용</h3>
    <button onclick="location.href='global-nullpointer'">전역 - NullPointer 발생 시 예외처리기!</button>
    <button onclick="location.href='global-userexception'">전역 - 사용자 정의의 예외 발생 시 예외처리기!</button>
    <button onclick="location.href='global-default'">전역 Default 예외처리기!</button>
</body>
</html>